@import "colors";
@import "breakpoints";

.search-field {
    padding:  15px 0;
    background-color: #fafafa;
    @media (min-width: $desktop-min) {
        padding-left: 42px !important;
        max-width: 500px;
      }
}

body{
  padding-bottom: 60px;
  @media (max-width: $desktop-min) {
    padding-bottom: 85px;
  }
}


@import "./components/menuItems";
